<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MyLibraryNYC</title>
</head>
<style media="screen">
    html {
        font-family: sans-serif; /* 1 */
        line-height: 1.15; /* 2 */
        -ms-text-size-adjust: 100%; /* 3 */
        -webkit-text-size-adjust: 100%; /* 3 */
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
    }

    .welcome {
        background-color: #BB1D12;
        color: #FFF;
        font-family: Georgia, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        padding: 1rem 0;
    }

    .welcome h1 {
        color: #FFF;
        font-weight: 100;
        margin-left: 7rem;
    }

    p {
        margin-left: 7rem;
        width: 50%;
    }

    div.footer {
        background-color: #54514a;
        color: #ffffff;
        font-size: .85rem;
        min-height: 4.5rem;
        padding: 2rem 0;
        position: relative;
    }

</style>

<body>
{# @var data \NYPL\Services\Model\DataModel\StreamData\NewPatron\NewPatron #}

<p>{{ data.firstName }} {{ data.lastName }},</p>

<p>This is an automated email to confirm that you've signed up for MyLibraryNYC. Please keep this email, which contains your account information, for your records.</p>

<p>Your barcode is: <b><code>{{ data.primaryBarcode }}</code></b></p>

<p>You selected your four-digit PIN when you signed up for your account. </p>

<p>As an educator at a participating MyLibraryNYC school, there are millions of free resources for you to discover.</p>

<ul>
    <li>Immediately <a href="https://sets.mylibrarynyc.org/users/start">explore and order teacher sets</a> for delivery to your school. </li>
    <li><a href="https://www.mylibrarynyc.org/">Learn more </a> about requesting individual items for pickup, as well as accessing databases and e-books.</li>
</ul>

<p>Please email help@mylibrarynyc.org if you have questions.</p>

<p>
    Thank you,<br>
    The MyLibraryNYC Team
</p>

</body>
</html>
